<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CWR</title>
    <link rel="stylesheet" href="/static/css/fdxy.min.css">
    <script src="/static/js/raj.js"></script>
    <script src="/static/js/brutal_1804.js"></script>
</head>
<body>
    <div class="grid-container">
        <div class="grid-x" style="margin-top:1.2rem;">
            <div class="cell small-1 medium-2 large-3">&nbsp;</div>
            <div class="cell small-10 medium-8 large-6">
                <p style="line-height: 3.6rem;">
                    <h3>找回密码</h3>
                </p>

                <form onsubmit="return false;">
                    <input type="hidden" value="<?php echo $randstr; ?>" id="randstr">
                    <input type="hidden" value="<?php echo $vstr; ?>" id="vstr">
                    <label>用户名</label>
                    <input type="text" value="" id="username" placeholder="用户名" required>

                    <label>密码</label>
                    <input type="password" value="" id="passwd" required oninput="clear_tip();">

                    <label>重复密码</label>
                    <input type="password" value="" id="repasswd" required>
                    <input type="submit" class="button small success" onclick="ajax_find_passwd()">
                </form>
                <p id="ret-tip"></p>
            </div>
            <div class="cell small-1 medium-2 large-3">&nbsp;</div>
        </div>
    </div>
    <script>
        function clear_tip() {
            brutal.autod('#ret-tip', '');
        }

        function ajax_find_passwd() {
            clear_tip();

            var data = {
                randstr : brutal.autod('#randstr'),
                vstr    : brutal.autod('#vstr'),
                username: brutal.autod('#username').trim(),
                passwd  : brutal.autod('#passwd').trim()
            };

            repasswd = brutal.autod('#repasswd');
            if (data.username.length == 0 || data.passwd.length == 0) {
                brutal.autod('#ret-tip', '请填写相应字段');
                return false;
            }

            if (data.passwd !== repasswd) {
                brutal.autod('#ret-tip', '两次输入的密码不一致');
                return false;
            }
            
            var preg = /^[a-z0-9\-~!@#$\^&*_]{8,16}$/i;
            if (!preg.test(data.passwd)) {
                brutal.autod('#ret-tip', '密码不符合要求：8～16未字母数字和~!@#$%^&*-_');
                return false;
            }

            raj.post({
                url     : '/v/reset/passwd',
                data    : brutal.jsontodata(data),
                success : function(xr) {
                    brutal.autod('#ret-tip', JSON.stringify(xr));
                    if (xr.status == 0) {
                        brutal.autod('#username', '');
                        brutal.autod('#passwd', '');
                        brutal.autod('#repasswd', '');
                    }
                }
            });

        }
    </script>
</body>
</html>
