<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CWR</title>
    <link rel="stylesheet" href="/static/css/fdxy.min.css">
    <script src="/static/js/raj.js"></script>
    <script src="/static/js/brutal_1804.js"></script>
</head>
<body>
    <div class="grid-container" style="word-break: break-all;">
        <div class="grid-x" style="margin-top:1.2rem;">
            <div class="cell small-1 medium-2 large-3">&nbsp;</div>
            <div class="cell small-10 medium-8 large-6">
                <p style="line-height: 3.6rem;">
                    <h3>Login</h3>
                </p>

                <form onsubmit="return false;">
                    <label>用户名</label>
                    <input type="text" value="" id="username" placeholder="用户名" required>

                    <label>密码</label>
                    <input type="password" value="" id="passwd" required oninput="clear_tip();">

                    <input type="submit" class="button small success" onclick="ajax_login()">
                </form>
                <a href="/user/forget/passwd">忘记密码 </a>
                <p id="ret-tip"></p>
            </div>
            <div class="cell small-1 medium-2 large-3">&nbsp;</div>
        </div>
    </div>
    <script>

        var host = 'http://w.d.com';

        function clear_tip() {
            brutal.autod('#ret-tip', '');
        }

        function ajax_login() {
            clear_tip();

            var data = {
                username: brutal.autod('#username').trim(),
                passwd  : brutal.autod('#passwd').trim()
            };

            if (data.username.length == 0 || data.passwd.length == 0) {
                brutal.autod('#ret-tip', '请填写相应字段');
                return false;
            }

            raj.post({
                url     : '/u/login',
                data    : brutal.jsontodata(data),
                success : function(xr) {
                    if (xr.status == 0) {
                        location.href = `${host}/u`;
                    }
                    
                    /* brutal.autod('#ret-tip', JSON.stringify(xr));
                    if (xr.status == 0) {
                        brutal.autod('#username', '');
                        brutal.autod('#passwd', '');
                    } */
                }
            });

        }
    </script>
</body>
</html>
