.editor-menu {
    border: solid 0.05rem #bebebe;
}

.editor-block {
    border-left : solid 0.05rem #bebebe;
    border-bottom: solid 0.05rem #bebebe;
}

.system-info{
    z-index:999;
    position:fixed;
    overflow-x:hidden;
    top:1%;
    /*background-color:rgba(1,139,139,0.86);*/
    background-color: #e2e2e2;
    width:60%;
    margin-left: 20%;
    color:#000000;
    text-align:center;
    line-height:2.3rem;
}

.system-info-error{
    z-index:999;
    position:fixed;
    overflow-x:hidden;
    top:1%;
    background-color: #79453c;
    width:60%;
    margin-left: 20%;
    color:#ececec;
    text-align:center;
    line-height:2.3rem;
}

.alert-block{
    z-index:99;
    position:fixed;
    overflow:hidden;
    min-height:12%;
    max-height: 48%;
    top:10%;
    background-color: #fafafa;
    width:50%;
    margin-left: 25%;
    color:#4a4a4a;
    text-align:center;
    line-height:2.3rem;
}

.search-block{
    z-index:99;
    position:fixed;
    overflow:hidden;
    min-height:12%;
    max-height: 45%;
    top:10%;
    background-color: #fafafa;
    width:60%;
    margin-left: 20%;
    color:#4a4a4a;
    text-align:center;
    line-height:2.2rem;
}

.start-window {
    z-index : 101;
    position: fixed;
    overflow-x: hidden;
    scroll-behavior: auto;
    top:0;
    width:100%;
    height:100%;
    /*background-color:rgba(32,32,32,0.6);*/
    background-color : #efefef;
    color:#4a4a4a;
    line-height: 2.3rem;
    
}

.hide-start-window{
    visibility: hidden;
    display: none;
}

.start-button {
    z-index: 100;
    position: fixed;
    left : 1%;
    top : 0.2%;
    background-color: #efefef;
    color:#4a4a4a;
    /* width:3rem;
    border-radius: 1.5rem; */
}

.post-cover {
    z-index : 1024;
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    /* background-color: rgba(23,23,23,0.5); */
    background-color : #efefef;
    color: #4a4a4a;
    
}

.footer-top-bar {
    z-index : 99;
    position : fixed;
    bottom : 0;
    background-color: #ffffff;
    color: #4a4a4a;
    border-top: solid 0.05rem #e1e1e1;
    line-height: 2.8rem;
    width:100%;
    overflow: hidden;
}

.footer-top-bar-space {
    line-height: 2.85rem;
    min-height: 2.9rem;
    height: 2.9rem;
}

.right-front-half-block {
    z-index : 100;
    position: fixed;
    right:0.1rem;
    background-color: #dfdfdf;
    color:#4a4a4a;
    border-left: solid 0.05rem #e3e3e3;
    width:50%;
    height:100%;
    line-height: 2.4rem;
    overflow: hidden;
}

.complete-front-cover {
    z-index : 1024;
    width:100%;
    height:100%;
    position : fixed;
    top:0;
    left:0;
    background-color: rgba(20,12,12,0.64);
    color : #dfdfdf;
    
}

.media-list-select-block{
    z-index : 1024;
    width:60%;
    height:80%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: auto;
    position: fixed;
    top : 5%;
    left : 20%;
    background-color: #ffffff;
    border: solid 0.05rem #4a4a4a;
}

@media only screen and (max-width: 500px){
    .float-block-image{
        float:left;
        width:99%;
        height:auto;
        overflow:hidden;
        margin: .2rem;
    }
}
@media only screen and (min-width:501px) and (max-width: 768px){
    .float-block-image{
        float:left;
        width:48%;
        height:auto;
        overflow:hidden;
        margin: .2rem;
    }
}

@media only screen and (min-width:769px) and (max-width:1000px){
    .float-block-image{
        float:left;
        width:31%;
        height:auto;
        overflow:hidden;
        margin: .2rem;
    }
}
@media only screen and (min-width: 1001px){
    .float-block-image{
        float:left;
        width:23%;
        height:auto;
        overflow:hidden;
        margin: .2rem;
    }
}
