<?php include (VIEW_PATH . '/techgeek/header.html'); ?>

<div class="full-container">
    <div class="grid-x">
        <div class="cell small-1 medium-2 large-3"></div>
        <div class="cell small-10 medium-8 large-6" id="user-info">
        </div>
        <div class="cell small-1 medium-2 large-3"></div>
    </div>

    <div class="grid-x">
        <div class="cell small-1 medium-2 large-3"></div>
        <div class="cell small-10 medium-8 large-6">
            <p>
            后台Writer用户的功能正在逐步开发完善，前后端，服务器维护目前都是一个人，时间上
            会比较慢，Writer用户的前端页面没有采用目前比较流行的单页应用，复用了之前很多代码。
            对于写作页面，已经尽最大努力提高写作体验。
            </p>
            <p>
                <h4>目前以下功能还未完成，但是已经在开发当中：</h4>
                <blockquote>
                    <li>代码高亮</li>
                    <li>批量删除图片</li>
                    <li>按照图片获取引用此图片的文章（比较耗时）</li>
                    <li>更新邮箱</li>
                    <li>更新用户名</li>
                    <li>课程（此功能设计成独立的操作，创建课程就是把已经发布的内容选择一个列表作为章节）</li>
                    <li>Markdown公式支持（建议在本地写好截图，这个体验最好，不用担心格式不兼容）</li>
                    <li>视频（这个对服务器压力比较大，支持会比较滞后）</li>
                </blockquote>
            </p>
        </div>
        <div class="cell small-1 medium-2 large-3"></div>
    </div>
</div>
<script>

    function setUserInfo(u) {
        var html = `
            <table>
                <th>

                <th>
                <tr>
                    <td>邮箱</td>
                    <td>${u.email}</td>
                </tr>
                <tr>
                    <td>用户名</td>
                    <td>${u.username}</td>
                </tr>
                <tr>
                    <td>个性签名</td>
                    <td>
                        <span id="nickname">${u.nickname}</span>
                        <a href="javascript:setNickname();">:::</a>
                    </td>
                </tr>
            </table>
        `;
        document.querySelector('#user-info').innerHTML = html;
    }

    function setNickname() {
        var name = prompt('个性签名：');
        name = name.trim();
        if (name === null || name == '') {
            return ;
        }

        _apicall({
            name : 'setnickname',
            data : `nickname=${encodeURIComponent(name)}`,
            success : function(xr) {
                if (xr.status == 0) {
                    document.querySelector('#nickname').innerHTML = name;
                } else {
                    show_system_info(xr.errinfo, false);
                }
            }
        });
    }

    _apicall({
        name : 'myinfo',
        success : function(xr) {
            setUserInfo(xr.userinfo);
        }
    });
</script>

<?php include (VIEW_PATH . '/techgeek/footer.html'); ?>
