<?php include (VIEW_PATH . '/techgeek/header.html'); ?>

<div id="search-block" class=""></div>
<div class="grid-container" id="main-container">
    <div class="grid-x">
        <div class="cell small-12" id="media-list" style="margin-bottom : .2rem;">
            
        </div>
    </div>
    
</div>
<div id="complete-cover"></div>
<div class="footer-top-bar-space"></div>
<div class="footer-top-bar" style="text-align: center;" id="pagination"></div>

<script>
    if (wstg_getItem('media-list-init') === null) {
        wstg_setItem('media-list-init', '1');
        wstg_setItem('media-list-page', '1');
        wstg_setItem('media-list-group', '');
        wstg_setItem('media-list-keyword', '');
    }

    function show_search_block() {
        brutal.classname('#search-block', 'hide');
        brutal.autod('#search-block', `
            <div style="text-align:center;">
                <h3 onclick="hide_search_block()">X</h3>
            </div>
            <form onsubmit="return false;">
                <select id="group-list">
                    <option value="--all--">所有</option>
                </select>

                <input type="text" value="${wstg_getItem('rs-list-keyword')}" id="search-kwd">
                <input type="submit" value="搜索" class="button hollow info" onclick="search_rslist()">
            </form>
        `);

        brutal.classname('#search-block', 'right-front-half-block');
    }

    function hide_search_block() {
        brutal.autod('#search-block', '');
        brutal.classname('#search-block', '');
    }

    function search_rslist() {
        var kwd = brutal.autod('#search-kwd');
        wstg_setItem('media-list-keyword', kwd);
        brutal.autod('#search-keywords', kwd);
        wstg_setItem('media-list-page', '1');
        hide_search_block();
        ajax_media_list();
    }

    function show_total_info(t) {
        var curp = parseInt(wstg_getItem('media-list-page'));

        if (t.total_page < curp) {
            wstg_setItem('media-list-page', t.total_page);
            ajax_media_list();
        }else {
            com_set_pageinfo(wstg_getItem('media-list-page'), t.total_page);
        }
    }

    function show_media_list(li) {
        var html = '<div class="grid-x">';
        for (var i=0; i<li.length; i++) {
            html += `
                <div class="small-12 medium-4 large-3 cell" style="margin-top:1.5rem;padding:0.5rem;">
                    <div style="background-color: #f3f3fb;border-radius:0.3rem;">
                        <img src="${_sysv.mapi}/media/images/${li[i].media_name[0]}/${li[i].media_name}" style="width:auto;height:auto;">
                        <div>
                            <p id="media-size-${li[i].id}">
                                ${(parseFloat(li[i].media_size)/1000).toFixed(2)}Kb&nbsp;
                                <span style="font-size:95%;" onclick="del_media_confirm(${li[i].id})">
                                    删除
                                </span>&nbsp;
                                <input type="checkbox" id="" value="${li[i].id}" class="media-check">
                                <br>
                                <span style="color:#a1a2a3;font-size:86%;">
                                    ${(new Date(parseInt(li[i].upload_time)*1000)).toLocaleString()}
                                </span>
                            </p>
                            
                        </div>
                    </div>
                </div>
            `;
        }
        html += '</div>';
        brutal.autod('#media-list', html);
    }

    function del_media_confirm(id){
        show_alert_block(`
            <div>
                <p>确定删除？</p>
                <button class="button hollow alert tiny" onclick="ajax_media_del(${id})">
                    确定    
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="button hollow warning tiny" onclick="hide_alert_block()">
                     取消   
                </button>
            </div>
        `);
    }

    function ajax_media_del(id) {
        api_post({
            url : _sysv.mapi + `/m/media/delete`,
            data : `id=${id}`,
            success : function (xr) {
                if (xr.status == 0) {
                    hide_alert_block();
                    ajax_media_list();
                    show_system_info(xr.info);
                } else {
                    //show_system_info(xr.errinfo, false);
                }
            },

        });
    }

    function ajax_media_list() {
        var page = wstg_getItem('media-list-page');
        var query_data = 'page=' + encodeURIComponent(page);

        var kwd = wstg_getItem('media-list-keyword');
        if (kwd !== null && kwd !== '') {
            query_data += '&kwd=' + encodeURIComponent(kwd);
        }

        var wx = wstg_getItem('media-list-wx');
        if (wx !== '') {
            query_data += '&wx=' + encodeURIComponent(wx);
        }

        api_get({
            url : _sysv.mapi + '/m/media/list?'+query_data,
            success : function (xr) {
                if (xr.status == 0) {
                    if (xr.total_page > 0 && parseInt(page) > xr.total_page) {
                        wstg_setItem('media-list-page', xr.total_page);
                        ajax_media_list();
                    }
                    if (parseInt(page) <= 0 && xr.total_page > 0) {
                        wstg_setItem('media-list-page', xr.cur_page);
                    }
                    show_total_info(xr);
                    show_media_list(xr.media_list);
                }
            }

        });
    }

    function set_media_list_check_all() {
        var chk = brutal.checked('#media-check-all', 'bool');
        if (chk) {
            brutal.checked('.media-check', 'set');
        } else {
            brutal.checked('.media-check', 'unset');
        }
    }

    function ajax_media_delall() {
        var idlist = brutal.checked('.media-check','list', 'check');
        hide_alert_block();
        show_system_info('批量删除功能还未实现，暂时忍耐一下');
        return ;
        /* 
        api_post({
            url : _sysv.api + '/m/media/delete/all',
            data : `idlist=${encodeURIComponent(JSON.stringify(idlist))}`,
            success : function(xr) {
                hide_alert_block();
                if (xr.status == 0) {
                    brutal.checked('#media-check-all', 'unset');
                    ajax_rs_list();
                } else {
                    show_system_info(xr.errinfo);
                }
            },
            except : function(e) {
                show_system_info('system error');
            }
        }); */
    }

    function batch_del_confirm() {
        var idlist = brutal.checked('.media-check','list', 'check');
        if (idlist.length == 0) {
            return ;
        }
        show_alert_block(`
            <div>
                <p>确定删除所有选中？</p>
                <button class="button hollow alert tiny" onclick="ajax_media_delall()">
                    确定
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="button hollow warning tiny" onclick="hide_alert_block()">
                    取消
                </button>
            </div>
        `);
    }

    function ajax_upload_media(file) {
        _apicall({
            name : 'media_upload',
            upload_name : 'image',
            file : file.files[0],
            success : function (xr) {
                if (xr.status == 0) {
                    show_system_info('上传成功');
                    ajax_media_list();
                } else {
                    show_system_info(xr.errinfo);
                }
            }
        });
        
    }

    window.onpageshow = function() {
        init_com_pagination('#pagination');
        brutal.autod('#sys-common-bar',`
            全选<input type="checkbox" id="media-check-all" onchange="set_media_list_check_all()">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span onclick="batch_del_confirm()">删除</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label for="mediaFileUpload" class="button">Upload File</label>
            <input type="file" id="mediaFileUpload" class="show-for-sr" onchange="ajax_upload_media(this)">
        `);

        com_init_page_evt(function(page) {
            wstg_setItem('media-list-page', page);
            ajax_media_list();
        }, function(page) {
            wstg_setItem('media-list-page', page);
            ajax_media_list();
        }, function(page) {
            wstg_setItem('media-list-page', page);
            ajax_media_list();
        });

        ajax_media_list();
    }
</script>

<?php include (VIEW_PATH . '/techgeek/footer.html'); ?>
